<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-comment-heading" data-cy="CommentCreateUpdateHeading" jhiTranslate="divineSignApp.comment.home.createOrEditLabel">
        Create or edit a Comment
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="divineSignApp.comment.id">ID</label>
            <input type="text" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        @let contentRef = editForm.get('content')!;
        <div class="mb-3">
          <label class="form-label" for="field_content" jhiTranslate="divineSignApp.comment.content">Content</label>
          <textarea class="form-control" name="content" id="field_content" data-cy="content" formControlName="content"></textarea>
          @if (contentRef.invalid && (contentRef.dirty || contentRef.touched)) {
            <div>
              @if (editForm.get('content')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
            </div>
          }
        </div>

        @let likesRef = editForm.get('likes')!;
        <div class="mb-3">
          <label class="form-label" for="field_likes" jhiTranslate="divineSignApp.comment.likes">Likes</label>
          <input type="number" class="form-control" name="likes" id="field_likes" data-cy="likes" formControlName="likes" />
          @if (likesRef.invalid && (likesRef.dirty || likesRef.touched)) {
            <div>
              @if (editForm.get('likes')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
              <small class="form-text text-danger" [hidden]="!editForm.get('likes')?.errors?.number" jhiTranslate="entity.validation.number"
                >This field should be a number.</small
              >
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_deleted" jhiTranslate="divineSignApp.comment.deleted">Deleted</label>
          <input type="checkbox" class="form-check" name="deleted" id="field_deleted" data-cy="deleted" formControlName="deleted" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_splend" jhiTranslate="divineSignApp.comment.splend">Splend</label>
          <select
            class="form-control"
            id="field_splend"
            data-cy="splend"
            name="splend"
            formControlName="splend"
            [compareWith]="compareSplend"
          >
            <option [ngValue]="null"></option>
            @for (splendOption of splendsSharedCollection; track $index) {
              <option [ngValue]="splendOption">{{ splendOption.id }}</option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_user" jhiTranslate="divineSignApp.comment.user">User</label>
          <select class="form-control" id="field_user" data-cy="user" name="user" formControlName="user" [compareWith]="compareUser">
            <option [ngValue]="null"></option>
            @for (userOption of usersSharedCollection; track $index) {
              <option [ngValue]="userOption">{{ userOption.id }}</option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label for="field_parents" jhiTranslate="divineSignApp.comment.parent">Parent</label>
          <select
            class="form-control"
            id="field_parents"
            data-cy="parent"
            multiple
            name="parents"
            formControlName="parents"
            [compareWith]="compareComment"
          >
            @for (commentOption of commentsSharedCollection; track $index) {
              <option [ngValue]="commentOption">{{ commentOption.id }}</option>
            }
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
