<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-splend-verses-heading"
        data-cy="SplendVersesCreateUpdateHeading"
        jhiTranslate="divineSignApp.splendVerses.home.createOrEditLabel"
      >
        Create or edit a Splend Verses
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="divineSignApp.splendVerses.id">ID</label>
            <input type="text" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        <div class="mb-3">
          <label class="form-label" for="field_word" jhiTranslate="divineSignApp.splendVerses.word">Word</label>
          <input type="text" class="form-control" name="word" id="field_word" data-cy="word" formControlName="word" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_number" jhiTranslate="divineSignApp.splendVerses.number">Number</label>
          <input type="text" class="form-control" name="number" id="field_number" data-cy="number" formControlName="number" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_condition" jhiTranslate="divineSignApp.splendVerses.condition">Condition</label>
          <input type="text" class="form-control" name="condition" id="field_condition" data-cy="condition" formControlName="condition" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_validationMethod" jhiTranslate="divineSignApp.splendVerses.validationMethod"
            >Validation Method</label
          >
          <select
            class="form-control"
            id="field_validationMethod"
            data-cy="validationMethod"
            name="validationMethod"
            formControlName="validationMethod"
            [compareWith]="compareValidationModel"
          >
            <option [ngValue]="null"></option>
            @for (validationModelOption of validationModelsSharedCollection; track $index) {
              <option [ngValue]="validationModelOption">{{ validationModelOption.id }}</option>
            }
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
