<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-surah-heading" data-cy="SurahCreateUpdateHeading" jhiTranslate="divineSignApp.surah.home.createOrEditLabel">
        Create or edit a Surah
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="divineSignApp.surah.id">ID</label>
            <input type="text" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        <div class="mb-3">
          <label class="form-label" for="field_name" jhiTranslate="divineSignApp.surah.name">Name</label>
          <input type="text" class="form-control" name="name" id="field_name" data-cy="name" formControlName="name" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_transliteration" jhiTranslate="divineSignApp.surah.transliteration">Transliteration</label>
          <input
            type="text"
            class="form-control"
            name="transliteration"
            id="field_transliteration"
            data-cy="transliteration"
            formControlName="transliteration"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_type" jhiTranslate="divineSignApp.surah.type">Type</label>
          <input type="text" class="form-control" name="type" id="field_type" data-cy="type" formControlName="type" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_totalVerses" jhiTranslate="divineSignApp.surah.totalVerses">Total Verses</label>
          <input
            type="number"
            class="form-control"
            name="totalVerses"
            id="field_totalVerses"
            data-cy="totalVerses"
            formControlName="totalVerses"
          />
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
