<div>
  <h2 id="page-heading" data-cy="SplendHeading">
    <span jhiTranslate="divineSignApp.splend.home.title">Splends</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span jhiTranslate="divineSignApp.splend.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-splend"
        [routerLink]="['/splend/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="divineSignApp.splend.home.createLabel">Create a new Splend</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  @if (splends?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="divineSignApp.splend.home.notFound">No Splends found</span>
    </div>
  }

  @if (splends && splends.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [sortState]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="title">
              <div class="d-flex">
                <span jhiTranslate="divineSignApp.splend.title">Title</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="content">
              <div class="d-flex">
                <span jhiTranslate="divineSignApp.splend.content">Content</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="likes">
              <div class="d-flex">
                <span jhiTranslate="divineSignApp.splend.likes">Likes</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="dislikes">
              <div class="d-flex">
                <span jhiTranslate="divineSignApp.splend.dislikes">Dislikes</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="verified">
              <div class="d-flex">
                <span jhiTranslate="divineSignApp.splend.verified">Verified</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="category.id">
              <div class="d-flex">
                <span jhiTranslate="divineSignApp.splend.category">Category</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="verses.id">
              <div class="d-flex">
                <span jhiTranslate="divineSignApp.splend.verses">Verses</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (splend of splends; track trackId(splend)) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/splend', splend.id, 'view']">{{ splend.id }}</a>
              </td>
              <td>{{ splend.title }}</td>
              <td>{{ splend.content }}</td>
              <td>{{ splend.likes }}</td>
              <td>{{ splend.dislikes }}</td>
              <td>{{ splend.verified }}</td>
              <td>
                @if (splend.category) {
                  <div>
                    <a [routerLink]="['/category', splend.category.id, 'view']">{{ splend.category.id }}</a>
                  </div>
                }
              </td>
              <td>
                @if (splend.verses) {
                  <div>
                    <a [routerLink]="['/splend-verses', splend.verses.id, 'view']">{{ splend.verses.id }}</a>
                  </div>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/splend', splend.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                  </a>

                  <a [routerLink]="['/splend', splend.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                  </a>

                  <button type="submit" (click)="delete(splend)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
  @if (splends && splends.length > 0) {
    <div>
      <div class="d-flex justify-content-center">
        <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
      </div>

      <div class="d-flex justify-content-center">
        <ngb-pagination
          [collectionSize]="totalItems"
          [page]="page"
          [pageSize]="itemsPerPage"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="navigateToPage($event)"
        ></ngb-pagination>
      </div>
    </div>
  }
</div>
